@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  text-balance: {
    @apply;
  }
} */

@layer components {
  .btn {
    @apply min-w-max py-1 px-5 rounded-full text-verde-700 bg-gradient-to-t from-verde-300 via-verde-200 to-verde-100  border border-verde-100 shadow-sm shadow-verde-200/50 hover:contrast-200 hover:cursor-pointer;
  }
  .btn-active {
    @apply py-1 px-5 rounded-full  bg-gradient-to-t border border-verde-100 shadow-sm shadow-verde-200/50 from-verde-200 to-verde-100 text-verde-600 hover:text-verde-400 min-w-max;
  }
  .title {
    @apply font-serif text-5xl font-semibold max-[500px]:text-4xl max-[390px]:text-3xl;
  }
  .neon {
    @apply bg-gradient-to-t from-verde-300 to-verde-100 to-50% border-[2px] border-verde-100 shadow-verde-100/70 shadow-[0px_0px_1px_1px];
  }
  .neon-before {
    @apply before:bg-gradient-to-t before:from-verde-300 before:to-verde-100 before:to-10% before:border-[0.5px] before:border-verde-100
    before:shadow-verde-100/70 before:shadow-[0px_0px_1px_1px];
  }
  .img-caption {
    @apply absolute bg-verde-700/50 py-1.5 px-3 uppercase rounded-full top-2 right-2;
  }
  .subtitle {
    @apply uppercase text-verde-100 tracking-wider;
  }
}

:root {
  font-size: 18px;
}

@media (min-width: 1280px) {
  :root {
    font-size: 22px;
  }
}
@media (min-width: 1024px) {
  :root {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  :root {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  :root {
    font-size: 15px;
  }
}
